<html>
<!-- creation date: 2001-1-12 -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title></title>
</head>
<body bgcolor=#ffffff text=#0033cc>
<br>
<%$bg0$%>
<b><font color=#FF9900 size=3><%$box$%></font></b>&nbsp;&nbsp;&nbsp;&nbsp;
<font size=2><a href=<%$act1$%> target=mainwindow>回复</a></font>&nbsp;&nbsp;&nbsp;&nbsp;
<font size=2><a href=<%$act2$%> target=mainwindow>转发</a></font>&nbsp;&nbsp;&nbsp;&nbsp;
<font size=2><a href=<%$act3$%> target=mainwindow>删除</a></font>&nbsp;&nbsp;&nbsp;&nbsp;
<font size=2><a href=<%$act4$%> target=mainwindow>返回</a></font><br><br>
<font color=#215aa7 size=2><b>发件人:&nbsp;&nbsp;</b></font><font color=#000000 size=2><%$from$%></font><br>
<font color=#215aa7 size=2><b>收件人:&nbsp;&nbsp;</b></font><font color=#000000 size=2><%$rcpt$%></font><br>
<font color=#215aa7 size=2><b>标&nbsp;&nbsp;题:&nbsp;&nbsp;</b></font><font color=#000000 size=2><%$title$%></font><br>
<font color=#215aa7 size=2><b>时&nbsp;&nbsp;间:&nbsp;&nbsp;</b></font><font color=#000000 size=2><%$date$%></font>
<%$ed0$%>

</body>
</html>
