<html><head>
<meta http-equiv=Content-Type content="text/html; charset=gb2312">
<title>用户注册信息</title></head>
<body bgcolor=#FFFFFF text=#000000>
<p>&nbsp;</p>
<p><center><strong><font color=#FF9933>请填写用户注册信息</font></strong></center></p>
<p>&nbsp;</p>
<form method=POST action=/cgi-bin/doreg>
<%$bg$%>
<input type=hidden name=uid value=<%$uid$%>>
<input type=hidden name=des value=<%$des$%>>
<center>
<table width=90% border=0 cellpadding=0 cellspacing=0>
    <tr>
	<td bgcolor=#99c8ff colspan=4 height=25>&nbsp;</td>
    </tr>
      <tr>
        <td height=25 bgcolor=#99c8ff>
         <div align=right><font color=#FFFFFF>信箱地址:&nbsp;&nbsp;</font></div>
      </td>
        <td colspan=3 height=25 bgcolor=#99c8ff>
          <div align=left><font color=#0033cc><b><%$addr$%></b></font></div>
      </td>
<%$ed$%>
    </tr>
    <tr>
       <td bgcolor=#99c8ff height=25>
         <div align=right><font color=#FFFFFF>用户名称:&nbsp;&nbsp;</font></div>
      </td>
        <td colspan=3 bgcolor=#99c8ff height=25> 
          <div align=left>
          <input type=text name=usr_n maxlength=8 size=20 value="">
        </div>
      </td>
    </tr>
    <tr> 
        <td bgcolor=#99c8ff height=25>
         <div align=right><font color=#FFFFFF>信箱口令:&nbsp;&nbsp;</font></div>
      </td>
        <td bgcolor=#99c8ff height=25>
          <div align=left>
          <input type=password maxlength=20 name=pwd size=10 value="">
        </div>
      </td>
        <td bgcolor=#99c8ff height=25>
         <div align=right><font color=#ffffff>口令确认:&nbsp;&nbsp;</font></div>
      </td>
        <td bgcolor=#99c8ff height=25>
          <div align=left>
          <input type=password maxlength=20 name=confirm_pwd size=10 value="">
        </div>
      </td>
    </tr>
    <tr> 
       <td valign=top bgcolor=#99c8ff height=25>
         <div align=right><font color=#FFFFFF>联系地址:&nbsp;&nbsp;</font></div>
      </td>
        <td colspan=3 bgcolor=#99c8ff height=25>
          <div align=left>
          <textarea name=addr cols=30 rows=4></textarea>
      </div>
      </td>
    </tr>
    <tr>
     <td bgcolor=#99c8ff height=25>
     <div align=right><font color=#FFFFFF>密码提示问题:&nbsp;&nbsp;</font></div>
     </td>
        <td colspan=3 bgcolor=#99c8ff height=25>
        <div align=left>
         <input type=text maxlength=200 name=ques size=50 value="">
        </div>
        </td>
     </tr>
    <tr>
       <td bgcolor=#99c8ff height=25>
        <div align=right><font color=#FFFFFF>问题答案:&nbsp;&nbsp;</font></div>
       </td>
        <td colspan=3 bgcolor=#99c8ff height=25>
        <div align=left>
         <input type=text maxlength=200 name=ans size=50 value="">
        </div>
        </td>
     </tr>
    <tr> 
        <td bgcolor=#99c8ff colspan=4 height=35> 
          <div align=right></div>
        <div align=center><font color=#0033cc> 
          <input type=submit value=确定 name=submit>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type=reset value=取消 name=cancel>
          </font></div>
      </td>
    </tr>
    <tr>
	<td bgcolor=#99c8ff colspan=4 height=25>&nbsp;</td>
    </tr>
  </table>
  </center>
  </form>
</body></html>
